[package]
name = "pipitor"
version = "0.1.4"
edition = "2018"
authors = ["Daiki Mizukami <tesaguriguma@gmail.com>"]
license = "AGPL-3.0-only"
readme = "README.md"
categories = ["command-line-utilities"]
repository = "https://github.com/tesaguri/pipitor"
documentation = "https://docs.rs/pipitor/0.1.4/pipitor/"
description = """
A Twitter bot that gathers, filters and Retweets Tweets automatically.
"""

[[bin]]
name = "pipitor"
path = "src/bin/pipitor/main.rs"
required-features = ["native-tls"]

[dependencies]
atoi = "0.3"
diesel = { version = "1.4", default-features = false, features = ["r2d2", "sqlite"] }
diesel_derives = "1.4"
diesel_migrations = { version = "1", default-features = false, features = ["sqlite"] }
dotenv = "0.13"
env_logger = "0.6"
failure = "0.1.3"
fs2 = "0.4"
futures-preview = "0.3.0-alpha.16"
futures-util-preview = "0.3.0-alpha.16"
futures01 = { version = "0.1", package = "futures" }
hyper = "0.12"
itertools = "0.8"
json = { version = "1", package = "serde_json" }
log = "0.4.6"
oauth1 = { version = "0.2.1", package = "oauth1-request" }
oauth1-request-derive = "0.2.2"
regex = "1.0.3"
runtime = "0.3.0-alpha.4"
runtime-tokio = "0.3.0-alpha.3"
serde = { version = "1.0.34", features = ["derive"] }
serde_derive = "1.0.34"
serde_regex = "0.3"
serde_urlencoded = "0.5"
smallvec = { version = "0.6.4", features = ["serde"] }
structopt = "0.2"
tokio = "0.1.19"
tokio-signal = "0.2"
toml = "0.5"
twitter-stream = { version = "0.9", default-features = false }
hyper-tls = { version = "0.3.1", optional = true }
libsqlite3-sys = { version = ">=0.8.0, <0.13.0", optional = true }

[target.'cfg(unix)'.dependencies]
tokio-file-unix = "0.5"

[target.'cfg(windows)'.dependencies]
tokio-stdin-stdout = "0.1"

[features]
default = ["native-tls"]
native-tls = ["hyper-tls"]
openssl-vendored = ["hyper-tls/vendored"]
sqlite-bundled = ["libsqlite3-sys/bundled"]
