[package]
name = "pipitor"
version = "0.3.0-alpha.5"
edition = "2018"
authors = ["Daiki Mizukami <tesaguriguma@gmail.com>"]
license = "AGPL-3.0-only"
readme = "README.md"
repository = "https://github.com/tesaguri/pipitor"
documentation = "https://docs.rs/pipitor/0.3.0-alpha.5/pipitor/"
description = """
A Twitter bot that gathers, filters and Retweets Tweets automatically.
"""

[[bin]]
name = "pipitor"
path = "src/bin/pipitor/main.rs"
required-features = ["hyper"]

[dependencies]
anyhow = "1"
atoi = "0.3"
cfg-if = "0.1"
bytes = "0.5"
diesel = { version = "1.4.3", default-features = false, features = ["r2d2", "sqlite"] }
diesel_migrations = { version = "1", default-features = false, features = ["sqlite"] }
dotenv = "0.15"
env_logger = "0.7"
flate2 = "1"
fs2 = "0.4"
futures = "0.3"
http = "0.2"
http-body = "0.3"
json = { version = "1", package = "serde_json" }
log = "0.4.6"
oauth1 = { version = "0.3", package = "oauth1-request" }
pin-project = "0.4"
regex = "1.0.3"
serde = { version = "1.0.34", features = ["derive"] }
serde_derive = "1.0.34"
serde_regex = "0.4"
serde_urlencoded = "0.6"
smallvec = { version = "1", features = ["serde"] }
structopt = "0.3"
thiserror = "1"
tokio = { version = "0.2", features = ["io-std", "signal", "stream", "time", "uds"] }
tower-service = "0.3"
tower-util = "0.3"
toml = "0.5"
twitter-stream = { version = "=0.10.0-alpha.6", default-features = false, features = ["gzip"] }

ct-logs = { version = "0.6", optional = true }
hyper = { version = "0.13", optional = true }
hyper-rustls = { version = "0.20", optional = true }
rustls-pkg = { version = "0.17", package = "rustls", optional = true }
webpki-roots = { version = "0.19", optional = true }

hyper-tls = { version = "0.4", optional = true }

libsqlite3-sys = { version = ">=0.8.0, <0.17.0", optional = true }

[features]
default = ["native-tls"]
native-tls = ["hyper", "hyper-tls"]
openssl-vendored = ["hyper-tls/vendored"]
rustls = ["ct-logs", "hyper-rustls", "rustls-pkg", "webpki-roots"]
sqlite-bundled = ["libsqlite3-sys/bundled"]
